<nav>
	<ul>
		<li class="navFloatLeft"><a href="/">Budget-Tool</a></li>
		<li class="navFloatRight"><a href="/">About</a></li>
		<li class="navFloatRight"><a href="login">Login</a></li>
		<li class="navFloatRight"><a href="signup">Sign Up</a></li>
	</ul>
</nav>
