<%- include partials/heading.ejs %>
<%- include partials/navbar.ejs %>
<!-- i tag is an exclamation error icon -->
<div class="error-page">
	<p>
		<i class="material-icons">&#xE001;</i>
	</p>
	<p><%= message %></p>
</div>
<%- include partials/footer.ejs %>
